@use "../_theme" as theme;

$keyboard-width: 300px;
$key-width: calc($keyboard-width / 5);

.keyboard-holder {
}
.keyboard-container {
  max-width: $keyboard-width;
}
.keyboard-border-section {
  min-width: 40px;
}
.keyboard-cell {
  width: $key-width;
  height: $key-width;
  padding: 2px;
}
.keyboard-main-section {
  > .keyboard-cell {
    width: 33.33%;
  }
}
.return-key {
  padding: 2px 2px 2px 8px;
  min-width: $key-width;
  & button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    min-width: initial;
  }
}
.current-move-display {
  @include theme.on-background;
  span {
    font-weight: bold;
    font-size: 17px;
    padding-right: 8px;
    padding-left: 4px;
  }
}
