@use "../theme" as theme;

// $keyboard-width: 200px;
$keyboard-width: 300px;
$key-width: calc($keyboard-width / 5);

// $breakpoint: map-get(theme.$breakpoints, xs);
// @media (min-width: $breakpoint) {
// }

.keyboard-holder {
}
.keyboard-container {
  max-width: $keyboard-width;
}
.keyboard-border-section {
  min-width: 40px;
}
.keyboard-cell {
  width: $key-width;
  height: $key-width;
  padding: 2px;
}
.keyboard-main-section {
  > .keyboard-cell {
    width: 33.33%;
  }
}
.return-key {
  padding-left: 8px;
  min-width: $key-width;
  & button {
    height: 100%;
    width: 100%;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    &:active {
      background: transparent;
      box-shadow: inset 0px 0px 3px 0px #a3a3a3;
    }
  }
}
