<!-- Output display of buttons -->
<div class="d-flex flex-row mb-2 current-move-row align-content-center">
  <div class="d-flex current-move-display" style="min-width: 75px">
    <span>&gt;</span>
    <span id="currentMoveDisplay">{{ displayCurrentMove() }}</span>
  </div>
  <div
    class="flex-grow-1 d-flex flex-row align-content-center justify-content-around"
  >
    <div
      class="possible-option-cell"
      (click)="selectPossibleMove(move)"
      *ngFor="let move of possibleMoves()"
    >
      {{ move }}
    </div>
  </div>
  <div class="flex-shrink-0 keyboard-settings-gear">
    <fa-icon (click)="openKeyboardSettings()" [icon]="faGear"></fa-icon>
  </div>
</div>
<!-- Keyboard Buttons -->
<div class="d-flex flex-row">
  <div class="d-flex flex-row keyboard-container">
    <div class="d-flex flex-column flex-shrink-0 keyboard-border-section">
      <div class="keyboard-cell" *ngFor="let b of leftColumn">
        <app-keyboard-button [button]="b"> </app-keyboard-button>
      </div>
    </div>
    <div
      class="flex-fill d-flex flex-row flex-wrap align-content-start keyboard-main-section"
    >
      <div class="keyboard-cell" *ngFor="let b of middleColumn">
        <app-keyboard-button [button]="b"> </app-keyboard-button>
      </div>
    </div>
    <div class="d-flex flex-column flex-shrink-0 keyboard-border-section">
      <div class="keyboard-cell" *ngFor="let b of rightColumn">
        <app-keyboard-button [button]="b"> </app-keyboard-button>
      </div>
    </div>
  </div>
  <div class="return-key d-flex flex-column">
    <div *ngIf="additionalButton" class="flex-grow-2 additional-button">
      <app-keyboard-button [button]="additionalButton"> </app-keyboard-button>
    </div>
    <button [disabled]="disableButtons()"
      class="flex-grow-1"
      mat-raised-button
      (click)="submit($event)">
      ||
    </button>
  </div>
</div>
