<!-- Output display of buttons -->
<app-keyboard-display
  [move]="moveManager"
  [keyboardSettings]="keyboardSettings"
  (onMoveSelect)="selectPossibleMove($event)"
  [moveSuggestions]="legalMoves()"
>
</app-keyboard-display>
<!-- Keyboard Buttons -->
<div class="d-flex flex-row">
  <div class="d-flex flex-row keyboard-container">
    <div class="flex-fill d-flex flex-row flex-wrap align-content-start">
      @for (r of matrix; track $index) {
        @for (b of r; track $index) {
          <div class="keyboard-cell">
            @if (isMulti(b)) {
              <app-keyboard-button [button]="b.index(keyboard.keyboardIdx)">
              </app-keyboard-button>
            } @else {
              <app-keyboard-button [button]="b"> </app-keyboard-button>
            }
          </div>
        }
      }
    </div>
  </div>
  <div class="return-key d-flex flex-column">
    @if (externalButton(); as external) {
      <div class="flex-grow-2 additional-button">
        <app-keyboard-button [button]="external"> </app-keyboard-button>
      </div>
    }
    <button
      id="submit"
      [disabled]="disableButtons()"
      class="flex-grow-1"
      mat-raised-button
      (click)="submit($event)"
    >
      ||
    </button>
  </div>
</div>
