@use "../../../theme" as theme;

$keyboard-width: 300px;
$key-width: calc($keyboard-width / 5);

.keyboard-container {
  max-width: $keyboard-width;
}
.keyboard-border-section {
  min-width: 40px;
}
.keyboard-cell {
  width: $key-width;
  height: $key-width;
  padding: 2px;
}
.keyboard-main-section {
  > .keyboard-cell {
    width: 33.33%;
  }
}

.return-key {
  padding: 2px 2px 2px 8px;
  min-width: $key-width;
  & .additional-button {
    height: $key-width - 4px;
    margin-bottom: 4px;
    font-weight: bold;
  }
  & button {
    border-radius: 5px;
    min-width: initial;
  }
}
