@use "../../_theme" as theme;

.chesspad-pp-title {
  font-family: "PermanentMarker";
  font-size: 28px;
}

.keyboard-notepad-container {
  width: 100%;
  height: 100%;
}

.mat-drawer-container {
  height: calc(100% - 64px);
}

.mat-drawer {
  width: 85%;
  @include theme.background-color;
  @include theme.on-background;
  .navigation-menu {
    div {
      min-height: 32px;
      border-bottom: 1px solid;
      border-color: lightgrey;
      margin-bottom: 8px;
      cursor: pointer;
    }
    fa-icon {
      margin-right: 8px;
    }
  }
}

.app-container {
  width: 100%;
  height: 100%;
}

.header-spacer {
  flex: 1 1 auto;
}
