@use "../../../theme";

$scale: 0.6;
@keyframes shake {
  0% {
    transform: translate(1px * $scale, 1px * $scale) rotate(0deg);
  }
  10% {
    transform: translate(-1px * $scale, -2px * $scale) rotate(-1deg);
  }
  20% {
    transform: translate(-3px * $scale, 0px * $scale) rotate(1deg);
  }
  30% {
    transform: translate(3px * $scale, 2px * $scale) rotate(0deg);
  }
  40% {
    transform: translate(1px * $scale, -1px * $scale) rotate(1deg);
  }
  50% {
    transform: translate(-1px * $scale, 2px * $scale) rotate(-1deg);
  }
  60% {
    transform: translate(-3px * $scale, 1px * $scale) rotate(0deg);
  }
  70% {
    transform: translate(3px * $scale, 1px * $scale) rotate(-1deg);
  }
  80% {
    transform: translate(-1px * $scale, -1px * $scale) rotate(1deg);
  }
  90% {
    transform: translate(1px * $scale, 2px * $scale) rotate(0deg);
  }
  100% {
    transform: translate(1px * $scale, -2px * $scale) rotate(-1deg);
  }
}

$sideScale: 0.7;
@keyframes sideShake {
  10%,
  90% {
    transform: translate3d(-1px * $sideScale, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px * $sideScale, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px * $sideScale, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px * $sideScale, 0, 0);
  }
}

.current-move-display {
  @include theme.on-background;
  span {
    font-weight: bold;
    font-size: 17px;
    padding-right: 8px;
    padding-left: 4px;
    transition: color 0.3s ease-out;

    &.error-animation {
      color: #e70909;
      animation: sideShake 0.3s;
      animation-iteration-count: 1;
    }
  }
}

.possible-option-cell {
  @include theme.secondary-background-color;
  font-weight: bold;
  border-radius: 20px;
  padding: 0px 15px;
  text-shadow: 2px 3px 5px black;
}

.keyboard-settings-gear {
  @include theme.on-background;
}
