<div
  class="d-flex flex-column flex-lg-row flex-xl-row flex-xs-column flex-sm-column flex-md-row keyboard-game-container p-2"
>
  <div class="flex-grow-1 p-1 mb-2 notepad-content-container">
    <mat-card>
      <mat-card-content class="d-flex justify-content-center">
        <div id="chessboard"></div>
      </mat-card-content>
      <!-- <mat-card-actions align="end" class="d-flex justify-content-between">
      <button (click)="onNewGame()" mat-raised-button color="accent">
        New Game
      </button>
      <button (click)="onClear()" mat-raised-button color="accent">
        Clear
      </button>
    </mat-card-actions> -->
    </mat-card>
    <div class="d-flex flex-column display-results p-2">
      @for (moveRow of currentMoves(); track $index; let idx = $index) {
        <div class="d-flex display-results-move-row">
          <div class="flex-25">{{ idx + 1 }}.</div>
          <div class="flex-25">{{ moveRow[0] }}</div>
          <div class="flex-25">{{ moveRow[1] }}</div>
        </div>
      }
    </div>
  </div>
  <div class="d-flex p-1 justify-content-center">
    <app-keyboard
      [game]="gameReview"
      [externalButton]="gameReview.getAdditionalButton()"
    ></app-keyboard>
  </div>
</div>
