@use "../../../theme" as theme;

// Overwrite Angular Material
button.mdc-button--raised {
  padding: 0 8px 0 8px;
}
button.mdc-button {
  font-size: var(--mdc-typography-button-font-size, 20px);
  min-width: auto;
  width: 100%;
  height: 100%;
  &.active {
    @include theme.primary-background-color;
    &.secondary-active {
      @include theme.secondary-background-color;
    }
  }
}
