@use '../theme' as theme;

button {
	width: 100%;
	height: 100%;
  &.active {
  	@include theme.primary-color;
  	&.blue-active {
  		@include theme.secondary-color;
  	}
  }
}

// Overwrite Angular Material
button.mdc-button--raised {
	padding: 0 8px 0 8px;
}
button.mdc-button {
	min-width: auto;
}