@use "../_theme" as theme;

.move-container {
}
.move-cell {
  padding: 4px;
  cursor: pointer;
  // Prevent selecting of text in the cell
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.active {
  .move-cell {
    box-shadow: 0 0 4px 0px #aaa;
    border-radius: 5px;
    @include theme.primary-background-color;
  }
}
