<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">White</th>
      <th scope="col">Black</th>
    </tr>
  </thead>
  <tbody>
    @for (moveRow of movesToRows(); track $index) {
      <tr>
        <th scope="row" class="align-middle">{{ $index + 1 }}.</th>
        <td (click)="onMoveClick(moveRow[0])">
          <app-move-display [move]="moveRow[0]"> </app-move-display>
        </td>
        <td (click)="onMoveClick(moveRow[1])">
          <app-move-display [move]="moveRow[1]"> </app-move-display>
        </td>
      </tr>
    }
  </tbody>
</table>
