@use "../_theme" as theme;

.with-padding-right {
  padding-right: 10px;
}
.notepad-row-index {
  min-width: 30px;
  padding-right: 10px;
}

@media (prefers-color-scheme: dark) {
  // Not sure how else to do it.
  // Mocking the table-dark bs class
  .table {
    @include theme.mock-table-dark;
  }
}
