<h1 mat-dialog-title>Game Results</h1>
<div mat-dialog-content>
  <mat-button-toggle-group
    [(value)]="gameWinner"
    (change)="onGameWinnerChange($event)"
    [disabled]="gameDisabled"
    name="gameWinner"
    aria-label="Game Winner"
  >
    <mat-button-toggle value="1-0">White Won</mat-button-toggle>
    <mat-button-toggle value="1/2-1/2">Draw</mat-button-toggle>
    <mat-button-toggle value="0-1">Black Won</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field class="game-moves-input-container">
    <textarea disabled matInput [value]="gameString"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-around">
  <button mat-button (click)="close()">New Game</button>
  <button mat-button (click)="copy()">Copy</button>
  <button mat-button (click)="copyAndGo('https://lichess.org/analysis')">
    Copy & lichess.com
  </button>
  <button
    mat-button
    (click)="copyAndGo('https://www.chess.com/analysis?tab=analysis')"
  >
    Copy & chess.com
  </button>
</div>
