<div
  class="d-flex flex-column flex-lg-row flex-xl-row flex-xs-column flex-sm-column flex-md-row p-2 tutorial-container"
>
  <div class="flex-grow-1 p-1 mb-2 notepad-content-container">
    <mat-card>
      <mat-card-content class="d-flex justify-content-center">
        <div #chessboard class="tutorial-chessboard"></div>
      </mat-card-content>
    </mat-card>
    <div class="d-flex flex-column display-results p-2">
      <p>{{ tutorial.currentPosition.title }}</p>
      <p [innerHTML]="tutorial.currentPosition.hint"></p>
    </div>
  </div>
  <div class="d-flex p-1 justify-content-center">
    <app-keyboard [game]="tutorial"> </app-keyboard>
  </div>
</div>
