@use "@angular/material" as mat;
@use "./app/_theme" as theme;

@include mat.core();
body {
  @include theme.background-color();
  --bs-body-bg: #0e0e10;
  --bs-body-color: #dee2e6;
  --bs-body-font-family: Roboto, "Helvetica Neue", sans-serif;
}

// core-color or core-theme
@include mat.core-color(theme.$dark-theme);
@include mat.button-color(theme.$dark-theme);
@include mat.toolbar-color(theme.$dark-theme);
@include mat.card-color(theme.$dark-theme);
@include mat.snack-bar-color(theme.$dark-theme);
@include mat.dialog-color(theme.$dark-theme);
@include mat.button-toggle-color(theme.$dark-theme);
@include mat.table-color(theme.$dark-theme);
@include mat.slide-toggle-color(theme.$dark-theme);
@include mat.select-color(theme.$dark-theme);

@media (prefers-color-scheme: light) {
  @include mat.core-color(theme.$my-theme);
  @include mat.button-color(theme.$my-theme);
  @include mat.toolbar-color(theme.$my-theme);
  @include mat.card-color(theme.$my-theme);
  @include mat.snack-bar-color(theme.$my-theme);
  @include mat.dialog-color(theme.$my-theme);
  @include mat.button-toggle-color(theme.$my-theme);
  @include mat.table-color(theme.$my-theme);
  @include mat.slide-toggle-color(theme.$my-theme);
  @include mat.select-color(theme.$my-theme);
}
