@use "../_theme" as theme;

.keyboard-game-container {
  height: 100%;
}
#chessboard {
  width: 300px;
  height: 300px;
  // Include loader if board does not render
  background: 
    linear-gradient(90deg,#0001 33%,#0005 50%,#0001 66%)
    #f2f2f2;
  background-size:300% 100%;
  animation: l1 1s infinite linear;
}
@keyframes l1 {
  0% {background-position: right}
}
.display-results {
  @include theme.on-background;
  margin-top: 5px;
  overflow: auto;
  max-height: 56px;
}
.display-results-move-row {
  div:nth-child(0) {
    width: 25%;
  }
  div:nth-child(1) {
    width: 25%;
  }
  div:nth-child(2) {
    width: 25%;
  }
}
@media (min-width: 576px) {
  #chessboard {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  #chessboard {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  #chessboard {
    width: 500px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  #chessboard {
    width: 600px;
    height: 600px;
  }
}
