.keyboard-game-container {
  height: 100%;
}
#chessboard {
  width: 300px;
  height: 300px;
}
.display-results {
  margin-top: 15px;
  overflow: auto;
  max-height: 100px;
}
.display-results-move-row {
  div:nth-child(0) {
    width: 25%;
  }
  div:nth-child(1) {
    width: 25%;
  }
  div:nth-child(2) {
    width: 25%;
  }
}
@media (min-width: 576px) {
  #chessboard {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 768px) {
  #chessboard {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 992px) {
  #chessboard {
    width: 500px;
    height: 500px;
  }
}
@media (min-width: 1200px) {
  #chessboard {
    width: 600px;
    height: 600px;
  }
}
