<div
  class="d-flex flex-column flex-lg-row flex-xl-row flex-xs-column flex-sm-column flex-md-row keyboard-puzzle-container p-2"
>
  <div class="flex-grow-1 p-1 mb-2 notepad-content-container">
    <mat-card>
      <mat-card-content class="d-flex flex-column align-items-center">
        @if (boardOrientation()) {
          <div class="p-2 d-flex justify-content-center align-content-center">
            <div
              class="first-move-display-color {{ puzzle.boardOrientation }}"
            ></div>
            <div class="first-move-display-text">
              {{ boardOrientation() }} to Move
            </div>
          </div>
        }
        <div id="puzzle-chessboard"></div>
      </mat-card-content>
      <!-- <mat-card-actions align="end" class="d-flex justify-content-between">
      <button (click)="onFinish()" mat-raised-button color="accent">
        Finish
      </button>
      <button (click)="onClear()" mat-raised-button color="accent">
        Clear
      </button>
    </mat-card-actions> -->
    </mat-card>
  </div>
  <div class="d-flex p-1 justify-content-center">
    <app-keyboard
      [game]="puzzle"
      [externalButton]="puzzle.getAdditionalButton()"
    >
    </app-keyboard>
  </div>
</div>
